PORT=5000

MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/linkedin_db?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=your_jwt_secret_key_here

NODE_ENV=production

MAILTRAP_TOKEN=your_mailtrap_token_here
EMAIL_FROM=hello@example.com
EMAIL_FROM_NAME=Your Name

CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name

CLIENT_URL=https://yourusername.github.io/linkedin-clone
